body {
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;

  .container-fluid {
    background-color: rgba(255, 255, 255, 0.7);
  }




  .alert {
    opacity: 0.8;
  }

  pre {
    opacity: 0.8;
  }

}

s {
  text-decoration: none;
  font-weight: bold;

  background-image:-webkit-gradient(linear, left center, right bottom, color-stop(0, #d22), color-stop(0.15, #d2d), color-stop(0.3, #22d), color-stop(0.45, #2dd), color-stop(0.6, #2d2),color-stop(0.75, #2d2), color-stop(0.9, #d22), color-stop(1, #d22) );
  color:transparent;
  -webkit-background-clip: text;

}

body .content .sidebar {
  opacity: 0.8;
  padding: 20px;
  background-color: #000;

  h1, h2, h3, h4, h5, h6 {
    color: #ccc;
  }

  a {
    color: #ccc;
  }

  a:hover {
    color: #000;
  }

  @media (max-width: 767px) {
  }
  @media (min-width: 767px) {
    height: 100%;
    position: fixed;
    min-width: 200px;
  }
}

body .content .contents {
  @media (max-width: 767px) {
    margin: 0;
  }
  @media (min-width: 767px) {
    margin-left: 300px;
  }

}
