.header {
  background-color: rgba(0, 0, 0, 0.8);
  color: #ccc;
  width: 100%;
  padding-bottom: 15px;

  .whiteout {
    color: transparent;
  }
}

.whiteout {
  color: #fff;
  text-decoration: none;
}

.container {
  border-radius: 10px;
  padding: 0px;
}

.container {
  pre,
  pre code {
    background-color: #1d1f21;
    border: 0px;
  }
}

body, html, .container, .content {
  height: 100%;
}

body {
  background-color: #fff;
}

a .whiteout {
  color: #fff;
  text-decoration: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: #000;
}

.useful_links {
  a {
    display: block;
  }
}
