.expander, .collapser {
  @media (max-width: 767px) {
    display: block;
  }
  @media (min-width: 767px) {
    display: none;
  }
}

a.content-link {
  padding: 2px 5px;
  border-left: 1px gray dotted;
}

.active a.content-link {
  color: #fff;
  background-color: #333;
}
