<% set_default("kitten", "1"); %>
<% set_default("kitten_url", "http://placekitten.com/800/600?image=" + kitten); %>

<div class="row-fluid col-md-8"> 
  <h2 class="col-md-8" style="margin-top: -25px">an interesting picture</h2>

  <div class="clearfix" id="query_kitten">
    <img src="<%= kitten_url %>" width="800" height="600"> </img>
  </div>
</div>
