.slog {
  table.table {
    table-layout: fixed;
    td {
      overflow: hidden;
      height: 40px;
      text-overflow: ellipsis;
      white-space: no-wrap;
      cursor: pointer;
    }

    td.log {
      display: inline-block;
    }

  }
}
