<% set_default("rendered", "") %>
<% set_default("show_footer_paging", false) %>

<div class="container-fluid">
  <div class="row-fluid contents col-md-8">
    <div class="mbl clearfix ptl">
      <%= render_chapter_links() %>
    </div>

    <div>
      <%= rendered %>
    </div>

    <% if (show_footer_paging) { %>
      <div class="mbl clearfix ptl">
        <%= render_chapter_links() %>
      </div>
    <% } %>
  </div>

</div>
