<div class="clearfix container-fluid">
  <div class="row-fluid">
    <div class="sidebar clearfix" style="overflow-y: auto">
      <% add_stylesheet("about.css"); %>
      <%= render_sidebar() %>
    </div>

    <div class="col-md-8 contents eom" style="padding: 10px">
        <h1>Introduction</h1>

        <%= render_partial("about/index.html.erb", {
          client_controller_code: client_code,
          server_controller_code: server_code,
          about_server_code: about_server_code,
          about_client_code: about_client_code,
          template_code: template_code}) %>
    </div>
  </div>
</div>
