<div class="container-fluid">
  <h1>Welcome to a <b>demo</b> controller</h1>

  <div class="clearfix">
    <div class="results span12">
      <h2>Current count: <span class="socket_count"></span></h2>
    </div>
  </div>

  <div class="clearfix">
    <div class="mtl results span12">
      <h2>Total count: <span class="total_count"></span></h2>
    </div>
  </div>

  <h2><a href="#" class="bump span12">bump the socket counter</a></h2>
</div>
