<% add_stylesheet("home.css") %>

<div class="container">
  <div class="clearfix mll">
    <h1 class="col-md-3"><b>superfluous</b></h1> 
    <h1 class="col-md-8">a node.js web framework <span class='whiteout'>for sane people</span></h1> 
  </div>


  <div class="clearfix mll">
    <h2 class="col-md-3"><a href="/about">the guide</a><span class='whiteout'> maybe...</span></h2>
    <h2 class="col-md-3"><a href="/docs/modules/Superfluous.html">the api </a> <span class='whiteout'>(incomplete)</span></h2>
    <h2 class="col-md-4"><a href="https://github.com/okayzed/superfluous">the source</a> <span class='whiteout'>have fun</span></h2>
  </div>

</div>

