<% add_stylesheet("home") %>

<div class="clearfix header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-right"><small>a web framework named </small><b>superfluous</b></h1> 
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Is superfluous right for you?</h2>
      <p>has your <b>packager</b> been getting you down? tired of serving <b>one
      giant blob</b> of javascript? need your server renderings connected to
      your client codes? <b>superfluous</b> has your back!</p>
    </div>

    <div class="col-md-offset-1 col-md-5 useful_links">
      <h2>Proven Technologies</h2>

      <p>
      if words like <s>pagelets</s> async delivery, <s>slog</s> server log,
      <s>bridge</s> RPC &amp; <s>packager</s> packaging bring a sense of
      <s>dread</s> comfort - you'll feel right at home with superfluous.  </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h2>Philosophy</h2>
      <p> some developers <a
      href="http://substack.net/how_I_write_modules">believe that minimal
      interchangeable modules </a> are the <a
      href="https://npmjs.org/doc/cli/npm-dedupe.html">foundations of a good
      framework</a>. others know that engineers need to move <a
      href="http://php.net">quickly and surely</a>. they all get out of the
      way when the <a
      href="http://en.wikipedia.org/wiki/Big_ball_of_mud"><b>Big Ball of
      Mud</b> </a> comes through. and that's because it works. <b>but</b> it
      works in the same way <a
      href="http://en.wikipedia.org/wiki/Hydraulic_fracturing">fracking</a>
      works - with lots of  collateral damage.  experienced engineers avoid
      this damage, using the <a
      href="http://www.codinghorror.com/blog/2007/08/falling-into-the-pit-of-success.html"><b>Pit
      of Success</b></a>. superfluous is the hole for your engineers to fall
      into. a <a href="https://github.com/logicflower/superfluous/blob/master/LICENSE.md">free one</a>, 
      at that.
      </p>
    </div>

    <div class="col-md-offset-1 col-md-5 useful_links">
      <h2>Useful Links</h2>
      <a href="/about">read the guide</a>
      <a href="/glossary">web glossary</a>
      <a href="/docs/modules/Superfluous.html">peruse the api</a> 
      <a href="https://github.com/logicflower/superfluous">get the source</a>
      <a href="https://github.com/logicflower/superfluous/issues">file bug reports</a> 
      <a href="https://github.com/logicflower/superfluous/fork">add bugs of your own</a> 
    </div>

  </div>

  <div class="row">
    <div class="col-md-12">
      <%= render_partial("about/getting_started.html.erb") %>
    </div>
  </div>


</div>

