<div class="container" style="margin: auto; margin-top: 10px">
  <div class="span12">
    <h1>this is the superfluous index page</h1> 
  </div>

  <div class="span12">
    <div class="span4">
      <h2><a href="/kitten">it serves</a></h2>
    </div>
    <div class="span4">
      <h2><a href="/no_page">it crashes</a></h2>
    </div>
  </div>
</div>

