<div class="clearfix mbl">
  <div class="comment-paragraph lfloat">
    <%= paragraph %>
  </div>

  <div class="comment-text lfloat">
    <%= comment %>
  </div>

  <div class="sid lfloat mll">
    (<%= sid %>)
  </div>
</div>
