<div class="col-md-2 clearfix rfloat mtl">
  <!-- TODO: add delegate_behavior helpers -->
  <% if (username) { %>
    <div>Logged in as <%= username %>. </div>
    <div class="mtl clearfix"><%= render_logout_button() %> </div>
  <% } %>

  <div id="kitten_list"> </div>
</div>
