<h1>Demos</h1>
<h3>A demo with components</h3>

<p>
With the above features (<b>async delivery</b>, <b>multi-client
    synchronization</b> , <b>sockets</b> and  <b>components</b>), we have enough to
run a slightly more complex <s>superfluous</s> app. <a href="/kitten">Click here</a>
to see it in action.  </p>

<p>
This example renders the <b>kitten_tile</b> component and allows users to
synchronize the currently displayed kitten among each other. Not very
exciting...  but the potential for something more is here :-D
</p>
<h3>A danceparty demo</h3>
<p>
It's also possible using templates, sockets and controllers to make a
<a href="http://dance.superfluous.io">slightly more complex app</a>.


</p>

<p>
This example opens the web cam and uploads a client recorded file to the
server. When a new GIF is uploaded, all clients are notified. Easy... :-D
<a href="http://github.com/okayzed/danceparty.sf">Check out the code</a>
</p>

<h3>A React demo</h3>

<p>
This todo list example uses <a href="https://github.com/facebook/react">React</a> to
render the app on the server and re-connect it on the client. <a
href="/react_demo">see the React todo list</a>.
</p>


<h3>An app in the wild</h3>

<s>superfluous</s> was refactored out of snorkel, and is mostly alpha quality. Check
out <a href="http://github.com/okayzed/snorkel">snorkel's code</a>, if you want
to see a much more heinous use of javascript.

