<h2>Getting started</h2>

<pre class="prettyprint"><code class="shell bash"># install superfluous
npm install -g superfluous

# create a new app
superfluous create my_first_app

# enter the code
cd my_first_app

# start the app
ENV=localhost nodemon app.js

# visit the app page at http://localhost:3300
</code></pre>

