<h2>Build your first app</h2>

<pre class="prettyprint"><code class="shell bash"># install superfluous
npm install -g superfluous

# create a new app
superfluous create my_first_app

# enter the code
cd my_first_app

# start your app
# visit your app at http://localhost:3300
ENV=localhost npm start

# ...
# ...
# ...

# it's really simple.
# why'd you make such a simple app?
</code></pre>

