<p> <b><s>superfluous</s></b> is an <b>app framework</b> (*gasp* another
    framework!) that simplifies the writing of web apps.  <s>superfluous</s> makes
app development easier by connecting <b>app delivery</b> and <b>user
interactions</b> (aka <b>the app</b>) into a coherent structure. since it's a
node.js server, the app is written in <b>one language</b>, leaving the
developer time to think about building the user experience.</p>

<p>If you are familiar with other web frameworks (javascript or not), many of
the concepts in <s>superfluous</s> will be familiar to you.</p>

<p class="alert"> as a framework, <s>superfluous</s> makes some decisions for the
developer, but leaves many others open. this is intentional, since
<s>superfluous</s> is mostly concerned with app communication.</p>
