<div class="pal">
  <hr />
  <form class="form">
    <fieldset class="row">
      <div class="form-group">
        <textarea class="form-control" placeholder="Say something about this paragraph" name="comment" rows="5"></textarea>
      </div>

      <div>
        <input class="form-control" name="author" type="text" placeholder="Add your name (optional)">
      </div>

    </fieldset>

    <div class="row mtl">
      <button type="submit" class="btn">Submit</button> <span class="mll"><small>(Your comment will only be visible to the author)</small></span>
    </div>
  </form>
  <hr />
</div>
